.listItem {
    list-style-type: none;
    padding: 0.6em;
    cursor: pointer;
}

.listItem:hover {
    background-color: #e8e8e8;
}

.listItem:nth-child(odd) {
    background-color: #d8d8d8;
}

.listItem:nth-child(odd):hover {
    background-color: #c5c5c5;
}