.listItem {
    list-style-type: none;
    padding: 0.6em;
    cursor: pointer;
}

.listItem:nth-child(odd) {
    background-color: #d8d8d8;
}

.listItem:hover {
    background-color: #67e;
}

.listItem:nth-child(odd):hover {
    background-color: #67e;
}

.listItem.active {
    background-color: #2b9 !important;
    color: #eee;
}